# Ignore bin and obj directories
**/bin/
**/obj/
**/.vs/
./.vs

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]ssets[Bb]undles/
[Aa]ssets[Ss]treamingAssets/

# Ignore .NET user-specific files
*.user
*.userosscache
*.sln.docstates

# Ignore JetBrains Rider project files
.idea/
*.sln.iml

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/
**/packages/

# Ignore MSBuild project files
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore StyleCop
StyleCopReport.xml

# Ignore ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Ignore Xamarin files
*.xamarin*
*.vscode/settings.json

# Ignore Rider's temporary file storage
.idea/

# Ignore tool specific files
.ionide/

# Ignore VS Code directories
.vscode/
.history/
*.code-workspace

# Ignore NCrunch
*.ncrunch*

# Ignore DocFx
_docfx/

# Ignore Azure Pipelines
.azure-pipelines/

# Ignore deployment files
PublishOutput/

# Ignore web publish folders
.publish/
